.jumbotron {
  padding-top: 6rem;
  background-color: #ff9999;
  }

#about {
  background-color: #ffe6e6;
  }

#PJJ {
  padding-top: 2rem; 
  background-color: #ff9999;
  }
  
section {
  padding-top: 5rem;
  }